<!--<div class="s-layout">-->
<!--  &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--  <div class="s-layout__sidebar">-->
<!--    <nav class="s-sidebar__nav">-->
<!--      <ul>-->
<!--        <li routerLink="/chart1">-->
<!--          <a class="s-sidebar__nav-link">-->
<!--        <em>چارت 1</em>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li routerLink="/chart2">-->
<!--          <a class="s-sidebar__nav-link">-->
<!--   <em>چارت 2</em>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--  </div>-->

<!--</div>-->

<mat-toolbar color="primary" class="toolbar-container">
  <div class="toolbar-item" routerLink="/">خانه</div>
  <div class="toolbar-item" routerLink="/chart1">چارت 1</div>
  <div class="toolbar-item" routerLink="/chart2">چارت 2</div>

</mat-toolbar>
