<!--<div id="inputComponent" dir="rtl" [ngClass]="{'disabledDate': disabled==true, 'has-value': value}">-->
<!--    <mat-form-field appearance="outline">-->
<!--        <mat-label><sub *ngIf="required">*</sub>{{placeholder}}</mat-label>-->
<!--        <input (dateChange)="onValueChange($event);"-->
<!--               [ngClass]="{'disabledDate': disabled==true}"-->
<!--               (input)="dateInput($event)" (change)="dateChange($event)"-->
<!--               [max]="max"-->
<!--               [min]="min"-->
<!--               [readonly]="readonly"-->
<!--               (keydown)="onKeyDown($event)"-->
<!--               [tabIndex]="disabled ? -1 : tabIndex" matInput-->
<!--               [value]="value" autocomplete="off"-->
<!--               [matDatepicker]="picker">-->
<!--        <mat-icon [tabIndex]="-1" class="clear-button" *ngIf="value" disabled='readonly' matSuffix (click)="onClear()"-->
<!--                  [ngClass]="{'inGrid': inGrid==true}">close-->
<!--        </mat-icon>-->
<!--        <mat-datepicker-toggle tabindex="-1" *ngIf='!readonly' matSuffix [for]="picker">-->
<!--            <mat-icon matDatepickerToggleIcon svgIcon="time_picker"></mat-icon>-->
<!--        </mat-datepicker-toggle>-->
<!--        <mat-datepicker [tabIndex]="-1" #picker [panelClass]="getPannelClass()" (opened)="onOpen()"></mat-datepicker>-->
<!--    </mat-form-field>-->
<!--    <div style="display: none">-->
<!--        <div class="datepicker-footer" #datepickerFooter>-->
<!--            <div class="countainer" (click)="setTodayDate()" #todayButton>-->
<!--                <span class="text">برو به امروز</span>-->
<!--                <div>-->
<!--                    <button type="button" class=" mat-calendar-previous-button mat-icon-button double-icon-1">-->
<!--                    </button>-->
<!--                    <button type="button" class=" mat-calendar-previous-button mat-icon-button double-icon-2">-->
<!--                    </button>-->
<!--                </div>-->


<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <fgo-error [errors]="errors" [fieldName]="placeholder"></fgo-error>-->

<!--</div>-->

<!--<fgo-disabled-shield *ngIf="disabled"></fgo-disabled-shield>-->


<div dir="rtl">
    <div>
        <mat-form-field style="width: 100%;" [appearance]="'outline'" class="input-custom">
            <mat-label>{{placeholder}}</mat-label>
            <mat-icon [tabIndex]="-1" class="clear-button" *ngIf="value" disabled='readonly' matSuffix
                      (click)="onClear()"
                      [ngClass]="{'inGrid': inGrid==true}">close
            </mat-icon>
            <mat-datepicker-toggle tabindex="-1" *ngIf='!value' matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon svgIcon="time_picker"></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker [tabIndex]="-1" #picker [panelClass]="getPannelClass()"
                            (opened)="onOpen()"></mat-datepicker>

            <input (dateChange)="onValueChange($event);"
                   [ngClass]="{'disabledDate': disabled==true}"
                   (input)="dateInput($event)" (change)="dateChange($event)"
                   [max]="max"
                   [min]="min"
                   [readonly]="readonly"
                   (keydown)="onKeyDown($event)"
                   [tabIndex]="disabled ? -1 : tabIndex" matInput
                   [value]="value" autocomplete="off"
                   [matDatepicker]="picker">
        </mat-form-field>

        <div style="display: none">
            <div class="datepicker-footer" #datepickerFooter>
                <div class="countainer" (click)="setTodayDate()" #todayButton>
                    <span class="text">برو به امروز</span>
                    <div>
                        <button type="button" class=" mat-calendar-previous-button mat-icon-button double-icon-1">
                        </button>
                        <button type="button" class=" mat-calendar-previous-button mat-icon-button double-icon-2">
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
