//
//:host {
//  position: relative;
//  display: block;
//
//  ::ng-deep .mat-form-field-flex {
//    align-items: center !important;
//    color: #6e6e6e;
//  }
//
//  :host ::ng-deep .edit-page {
//    background-color: rebeccapurple;
//  }
//
//  ::ng-deep {
//    .mat-form-field {
//      width: 100%;
//
//      .mat-form-field-wrapper {
//        margin: 0 !important;
//        position: relative;
//      }
//    }
//
//    .mat-form-field-appearance-outline .mat-form-field-suffix {
//      top: -3px !important;
//    }
//
//    .mat-form-field .mat-form-field-label-wrapper{
//      top: -19px;
//    }
//
//    .mat-form-field-suffix {
//      display: flex;
//      position: relative;
//      //top: -6px !important;
//      align-items: center;
//      //top: 1px !important;
//
//      & > mat-datepicker-toggle {
//        & > button {
//          box-shadow: none !important;
//          display: flex;
//          align-items: center;
//
//          svg {
//            position: relative;
//            //top: -4px;
//          }
//        }
//      }
//
//      .inGrid {
//        margin-left: 0px !important;
//      }
//
//      .clear-button {
//        //margin-top: 2px;
//        //margin-left: -10px;
//      }
//
//      mat-icon {
//        color: var(--medium);
//        cursor: pointer;
//        width: 20px;
//        height: 20px;
//        font-size: 20px;
//      }
//
//    }
//  }
//
//  ::ng-deep {
//    .disabledDate {
//      color: var(--disabled-text);
//
//      .mat-form-field .mat-form-field-wrapper {
//        background-color: #f9f9f9;
//      }
//    }
//
//    .mat-form-field-infix {
//      .clear-btn {
//        position: absolute;
//        top: 8px;
//        left: 0;
//
//        mat-icon {
//          //  padding-right: 5px;
//          width: 25px;
//          font-size: 18px;
//          color: var(--medium);
//        }
//      }
//    }
//  }
//
//  input {
//    border: none;
//    box-shadow: none;
//    padding: 0;
//    caret-color: var(--text-gray);
//    @media screen and (max-width: 1343px) {
//      height: 32px;
//      padding: 2px !important;
//    }
//  }
//}
//
//@mixin input-height($height, $lineHeight, $fontSize, $labelLineHeight, $clearBtnTop, $sizeIcon) {
//  input {
//    height: $height;
//    line-height: $lineHeight;
//    font-size: $fontSize;
//  }
//  //::ng-deep .mat-form-field-label-wrapper mat-label {
//  //  line-height: $labelLineHeight;
//  //}
//  ::ng-deep {
//    .mat-form-field-infix {
//      .clear-btn {
//        top: $clearBtnTop;
//
//        mat-icon {
//          width: $sizeIcon;
//          height: $sizeIcon;
//          font-size: 18px;
//        }
//      }
//    }
//
//    .mat-form-field-suffix {
//      & > mat-datepicker-toggle {
//        & > button {
//          height: $sizeIcon !important;
//        }
//      }
//    }
//  }
//}
//
//.input-height-default {
//  @include input-height(40px, 40px, 13px, 30px, 10px, 25px);
//}
//
//.input-height-sm {
//  @include input-height(34px, 32px, 12px, 0px, 6px, 20px);
//}
//
//.input-height-md {
//  @include input-height(36px, 34px, 13px, 30px, 5px, 25px);
//}
//
//.input-height-lg {
//  @include input-height(40px, 36px, 13px, 30px, 8px, 30px);
//}
//
//.has-value {
//  ::ng-deep {
//    .mat-form-field-suffix {
//      & > mat-datepicker-toggle {
//        & > button {
//          display: none !important;
//
//          svg {
//            display: none;
//          }
//        }
//      }
//    }
//  }
//}
//
//::ng-deep {
//  .has-range {
//    .mat-calendar-body-cell {
//      &:not(.mat-calendar-body-disabled) {
//        .mat-calendar-body-cell-content {
//          //background-color: #FFF4E5;
//        }
//      }
//    }
//  }
//
//  .mat-calendar-controls {
//    .mat-icon-button {
//      color: var(--light-gray) !important;
//
//      &:hover {
//        color: var(--primary) !important;
//      }
//    }
//  }
//}
//
//.datepicker-footer {
//  width: 100%;
//  padding: 0 0.75rem 1.125rem;
//  display: flex;
//  cursor: pointer;
//  justify-content: end;
//  font-size: .75rem;
//
//  &:hover {
//    color: #FE9D2A !important;
//
//  }
//
//  .countainer {
//    display: flex;
//    align-items: center;
//  }
//
//  .mat-icon-button {
//    width: 39px !important;
//    height: 39px !important;
//  }
//
//  .text {
//    color: #8B8B8B !important;
//    margin-left: -15px;
//    font-size: 12px;
//    font-weight: bold;
//    padding-left: 12px;
//  }
//
//  mat-icon {
//    transform: rotate(180deg);
//  }
//
//  &:hover {
//
//    .text {
//      color: #FE9D2A !important;
//    }
//
//    mat-icon {
//      fill: var(--primary) !important;
//    }
//
//    .double-icon-1 {
//      color: #FE9D2A !important;
//    }
//
//    .double-icon-2 {
//      color: #FE9D2A !important;
//
//    }
//  }
//
//  div {
//    mat-icon {
//      width: 12px;
//      height: 12px;
//      margin-left: 15px;
//      fill: #8B8B8B !important;
//    }
//
//    &:hover {
//      color: var(--primary);
//
//      mat-icon {
//        ::ng-deep svg {
//          fill: var(--primary);
//        }
//      }
//    }
//  }
//}
//
//.double-icon-2 {
//  position: absolute !important;
//  left: 13px !important;
//  box-shadow: none !important;
//  color: #C2C2C2 !important
//}
//
//.double-icon-1 {
//  box-shadow: none !important;
//  color: #C2C2C2 !important;
//  left: 1px;
//}
//


::ng-deep .mat-form-field-appearance-outline {
  &.mat-focused {
    .mat-form-field-label {
      transform: translateY(-1.29375em) scale(0.75) !important;
      //top: 1.70375em;
    }
  }

}

::ng-deep .mat-form-field-flex {


  .mat-form-field-infix {
    padding: 0.4em 0 .7em 0;

    input {
      margin-right: 5px;
      padding-left: 5px;
      height: 100%;

      &::placeholder {
        color: currentColor;
      }
    }

    .mat-form-field-label {
      font-size: inherit;
      top: 1.40375em;
      transform: translateY(-1.29375em) scale(0.75) !important;

      span {
        margin-left: 3px;
        font-size: 12px;
      }
    }
  }
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-hide-placeholder {
  .mat-form-field-label {
    transform: unset !important;
  }
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep mat-label {
  font-size: 14px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
}


sub {
  font-size: 14px !important;
  margin-right: 5px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


mat-label {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}

.rtl-value {
  text-align: right !important;
}

.ltr-value {
  text-align: left !important;
  direction: ltr !important;

}


.input-custom {
  ::ng-deep .mat-form-field-suffix {
    top: -6px !important;

    mat-icon {
      color: var(--medium);
      cursor: pointer;
    }

    //mat-icon:hover{
    //  color: #fe9d2a !important;
    //}

  }

  ::ng-deep .mat-form-field-suffix .mat-icon-button {
    height: auto !important;
  }
}


.datepicker-footer {
  width: 100%;
  padding: 0 0.75rem 1.125rem;
  display: flex;
  cursor: pointer;
  justify-content: end;
  font-size: .75rem;

  &:hover {
    color: #FE9D2A !important;

  }

  .countainer {
    display: flex;
    align-items: center;
  }

  .mat-icon-button {
    width: 39px !important;
    height: 39px !important;
  }

  .text {
    color: #8B8B8B !important;
    margin-left: -15px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 12px;
  }

  mat-icon {
    transform: rotate(180deg);
  }

  &:hover {

    .text {
      color: #FE9D2A !important;
    }

    mat-icon {
      fill: var(--primary) !important;
    }

    .double-icon-1 {
      color: #FE9D2A !important;
    }

    .double-icon-2 {
      color: #FE9D2A !important;

    }
  }

  div {
    mat-icon {
      width: 12px;
      height: 12px;
      margin-left: 15px;
      fill: #8B8B8B !important;
    }

    &:hover {
      color: var(--primary);

      mat-icon {
        ::ng-deep svg {
          fill: var(--primary);
        }
      }
    }
  }
}

.double-icon-2 {
  position: absolute !important;
  left: 13px !important;
  box-shadow: none !important;
  color: #C2C2C2 !important
}

.double-icon-1 {
  box-shadow: none !important;
  color: #C2C2C2 !important;
  left: 1px;
}
